.hostInformations {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
  .profil__picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    color: #ff6060;
    line-height: 25.6px;
    margin: 23px 20px 0px 0px;
  }
}

.name__image {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 985px) {
  .hostInformations {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .profil__picture {
      width: 52px;
      height: 52px;
    }
    p {
      font-size: 16px;
      margin-top: 18px;
    }
  }
}
@media screen and (max-width: 400px) {
  .hostInformations {
    .profil__picture {
      width: 32px;
      height: 32px;
    }
    p {
      font-size: 12px;
      margin-top: 5px;
    }
  }
  .name__image {
    margin-top: 12px;
  }
}
