.fullcard {
  padding: 20px 90px;
}

.lodgementDescription {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px 0px 0px;
}

.geographicInofrmations {
  h1 {
    font-weight: 500;
    font-size: 36px;
    color: #ff6060;
  }

  p {
    margin-top: 15px;
    color: #ff6060;
    font-weight: 500;
    font-size: 18px;
  }
}

.hostInformations {
  display: flex;
  padding-right: 12px;
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 0px 0px 20px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    color: #ff6060;
    line-height: 25.6px;
    text-align: right;
    margin-top: 2px;
  }
}

.star {
  width: 30px;
  height: 30px;
}

.image__lodgement {
  border-radius: 25px;
  width: 1240px;
  height: 415px;
  display: block;
  margin: 0 auto;
}

.fullcard .accordions {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;

  .accordion {
    width: 48%;
  }
}

.fullcard .accordion__content {
  font-size: 18px;
}
.fullcard .active .accordion__content {
  visibility: visible;
  min-height: 300px;
  font-size: 18px;
  overflow: visible;
  padding: 1rem;
  opacity: 1;
  transition: all 0.6s ease-in;
}

.fullcard .active .accordion__icon {
  transition: all 0.4s ease-in;
}

.lodgementInformations {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px 0px 0px;

  .tagsList {
    display: flex;
    text-align: center;

    .tagsItems {
      margin: 0 15px 0px 0px;
      background-color: #ff6060;
      color: #ffff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width: 115px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

// Responsive for small screens
@media screen and (min-width: 1480px) {
  .fullcard {
    max-width: 1480px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 985px) {
  .fullcard {
    padding: 20px 22px;
  }

  .fullcard .accordions {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .accordion {
      width: 100%;
      margin: 25px 0px;
    }
  }

  .geographicInofrmations {
    h1 {
      font-weight: 500;
      font-size: 20px;
      width: 320px;
    }
    p {
      margin-top: 8px;
      color: #ff6060;
      font-weight: 500;
      line-height: 142.6%;
      font-size: 16px;
    }
  }

  .lodgementInformations {
    flex-direction: column;
    padding: 38px 0px 10px 0px;

    .tagsList {
      .tagsItems {
        margin-bottom: 40px;
        width: 85px;
        font-size: 12px;
      }
    }
  }

  .star {
    width: 15px;
    height: 15px;
  }

  .hostInformations {
    display: flex;
    padding-right: 12px;
    position: absolute;
    top: 76%;
    right: 10px;
    img {
      width: 52px;
      height: 52px;
    }
    p {
      font-size: 16px;
    }
  }
}
