.error {
  text-align: center;
  color: #ff6060;

  &__number {
    font-size: 288px;
    font-weight: 700;
  }
  &__text {
    font-size: 36px;
    font-weight: 500;
  }

  &__return {
    font-size: 18px;
    font-weight: 500;
    margin: 150px 0px 35px 0px;
  }
}

@media screen and (max-width: 600px) {
  .error {
    &__number {
      font-size: 96px;
    }
    &__text {
      font-size: 18px;
    }
    &__return {
      font-size: 14px;
    }
  }
}
